<section class="about">
  <div class="about-container">
    <h2>About Us</h2>
    <div class="about-image">
      <img src="assets/images/GroupTrainers.jpg" alt="Rescue Team Training">
    </div>
    <div class="about-text">
      <p>
        At Grazioso Salvare, our mission is to train and support exceptional rescue animals who assist in search and rescue,
        emotional support, and medical alert roles.
      </p>
      <p>
        Our team begain with a small group of handlers and volunteers who believed in second chances for both animal and
        people. Over the years, we've grown into a nationwide network of trainers, veterinarians, and 
        support specialists dedicated to service through rescue.
      </p>
      <p>
        We believe in compassion, skill, and the unbreakable bond between humans and animals. Every dog, monkey, and rescue 
        animal we train helps create a safer, more connected world.
      </p>
    </div>
  </div>
</section>
