<section class="rescue-animals">
  <div class="animals-container">
    <h2>Our Rescue Animals</h2>

    <!-- Admin-only Add Animal button -->
    <div *ngIf="isAdmin" class="add-button">
      <button (click)="router.navigate(['/add-animal'])"> Add New Animal</button>
    </div>

    <!-- Filter Dropdown-->
     <div class="animal-filter">
      <label for="filter">Filter by type: </label>
      <select id="filter" [(ngModel)]="selectedType">
        <option value="all">All</option>
        <option value="dog">Dogs</option>
        <option value="monkey">Monkeys</option>
        <!-- include more types here when needed-->
      </select>
     </div>

     <!-- Animal cards -->
    <div class="animal-list">
      <!-- repeat this for up to 10 animals -->
       <div class="animal-card" *ngFor="let animal of filteredAnimals; let i = index" [class.expanded]="expandedCardIndex === i" (click)="toggleDetails(i)">
        <img [src]="animal.image" [alt]="animal.name" />
        <h3>Name: {{ animal.name }}</h3>
        <p>ID: {{ animal.id }}</p>

        <!-- expand info shown when clicked (hidden by default) -->
        <div class="animal-details">
          <p>Type: {{ animal.type }}</p>
          <p>Breed/Species: {{ animal.breedOrSpecies }}</p>
          <p>Gender: {{ animal.gender }}</p>
          <p>Age: {{ animal.age }} years</p>
          <p>Weight: {{ animal.weight }} lbs</p>
          <p>Acquisition Date: {{ animal.acquisitionDate }}</p>
          <p>Training Status: {{ animal.trainingStatus }}</p>
          <p>Reserved: {{ animal.reserved ? 'Yes' : 'No' }}</p>
          <p>In-Service Location: {{ animal.inServiceLocation }}</p>

          <!-- Monkey-specific (only show if exists) -->
          <p *ngIf="animal.height">Height: {{ animal.height }} in</p>
          <p *ngIf="animal.tailLength">Tail Length: {{ animal.tailLength }} in</p>
          <p *ngIf="animal.bodyLength">Body Length: {{ animal.bodyLength }} in</p>
        </div>

        <!-- Admin-only buttons -->
        <div *ngIf="isAdmin" class="button-group">
          <button (click)="editAnimal(animal)">Edit</button>
          <button (click)="deleteAnimal(animal.id!)">Delete</button>
        </div>
       </div>


    </div>

    <div class="pagination" class="button-group">
      <button disabled>&laquo; Prev</button>
      <button>Next &raquo;</button>
    </div>
  </div>

  <div *ngIf="filteredAnimals.length === 0">
  <p>No animals to display.</p>
  </div>

</section>
