form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(170, 90, 117);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input, form select {
    padding: 3px;
    font-size: 14px;
    width: 200px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(219, 139, 186);
    width: 200px;
    text-align: center;
    align-self: center;
}

form div img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    object-fit: cover;
}